**/__pycache__/*
**/.ipynb_checkpoints/*
*.egg-info*

# don't track large data files
# these can all be generated de novo using scripts in 00_download_data
data/raw/*
data/compressed_data/*
data/expression_confusion_matrix.tsv
data/exp_compressed/*
data/HumanMethylation450_15017482_v1-2.csv
data/methylation_27k*.tsv
data/methylation_27k_filtered_probe_types.txt
data/methylation_450k*.pkl
data/methylation_preprocessed/*
data/me_compressed/*
data/me_preprocessed/*
data/msi_data/*
data/sample_info/*_me_450k_*
data/sample_info/*_mutation_*
data/sample_info/*_mut_sigs_*
data/sample_info/*_rppa_*
data/significant_genes/*
data/tcga_mirna_matrix_processed.tsv
data/tcga_rppa_matrix_processed.tsv
data/tcga_expression_matrix_processed.tsv.gz
data/tcga_methylation_matrix_processed.tsv.gz
data/tcga_wes_sbs_mutational_signatures.tsv
data/pancancer_data.pkl
data/vogelstein_preds/*

# don't track images files
figures/*
**/images/*

# don't track results files
**/results/*
**/gene_counts/*
