**/__pycache__/*
**/.ipynb_checkpoints/*
*.egg-info*

# don't track large data files
data/raw/*
data/subsampled/*
data/expression_confusion_matrix.tsv
data/exp_compressed/*
data/methylation_450k*.pkl
data/me_compressed/*
data/me_preprocessed/*
data/sample_info/*
data/tcga_rppa_matrix_processed.tsv
data/tcga_expression_matrix_processed.tsv.gz
data/tcga_methylation_matrix_processed.tsv.gz
data/pancancer_data.pkl

# don't track results files
results/*
